<a href="https://colab.research.google.com/github/sanjayyanadi/Supervised_Regression_Model/blob/main/Rossmann_Sales_Prediction_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sales Prediction : Predicting sales of a major store chain Rossmann</u></b>

## <b> Problem Description </b>

### Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

### You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

## <b> Data Description </b>

### <b>Rossmann Stores Data.csv </b> - historical data including Sales
### <b>store.csv </b> - supplemental information about the stores


### <b><u>Data fields</u></b>
### Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* #### Id - an Id that represents a (Store, Date) duple within the test set
* #### Store - a unique Id for each store
* #### Sales - the turnover for any given day (this is what you are predicting)
* #### Customers - the number of customers on a given day
* #### Open - an indicator for whether the store was open: 0 = closed, 1 = open
* #### StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
* #### SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools
* #### StoreType - differentiates between 4 different store models: a, b, c, d
* #### Assortment - describes an assortment level: a = basic, b = extra, c = extended
* #### CompetitionDistance - distance in meters to the nearest competitor store
* #### CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
* #### Promo - indicates whether a store is running a promo on that day
* #### Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
* #### Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2
* #### PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [2]:
#importing libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
sns.set()
# Graphics in retina format are more sharp and legible
%config InlineBackend.figure_format = 'retina'

In [6]:
from google.colab import drive
drive.mount('/content/drive/')
#path_01='/content/drive/MyDrive/ALMABETTER/CAPSTONE_PROJECT/Supervised_Regression_Model/Rossmann_Stores_Data.csv'
#path_02='/content/drive/MyDrive/ALMABETTER/CAPSTONE_PROJECT/Supervised_Regression_Model/store.csv'
df_rs = pd.read_csv('/content/drive/MyDrive/ALMABETTER/CAPSTONE_PROJECT/Supervised_Regression_Model/Rossmann_Stores_Data.csv')
df_s= pd.read_csv('/content/drive/MyDrive/ALMABETTER/CAPSTONE_PROJECT/Supervised_Regression_Model/store.csv')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
# first ten and last ten data of rossmann stores data
df_rs.T

,0,1,2,3,4,5,6,7,8,9,...,1017199,1017200,1017201,1017202,1017203,1017204,1017205,1017206,1017207,1017208
Store,1,2,3,4,5,6,7,8,9,10,...,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115
DayOfWeek,5,5,5,5,5,5,5,5,5,5,...,2,2,2,2,2,2,2,2,2,2
Date,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31,2015-07-31,...,2013-01-01,2013-01-01,2013-01-01,2013-01-01,2013-01-01,2013-01-01,2013-01-01,2013-01-01,2013-01-01,2013-01-01
Sales,5263,6064,8314,13995,4822,5651,15344,8492,8565,7185,...,0,0,0,0,0,0,0,0,0,0
Customers,555,625,821,1498,559,589,1414,833,687,681,...,0,0,0,0,0,0,0,0,0,0
Open,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Promo,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
StateHoliday,0,0,0,0,0,0,0,0,0,0,...,a,a,a,a,a,a,a,a,a,a
SchoolHoliday,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [11]:
## first ten and last ten data of store data
df_s.T

,0,1,2,3,4,5,6,7,8,9,...,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114
Store,1,2,3,4,5,6,7,8,9,10,...,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115
StoreType,c,a,a,c,a,a,a,a,a,a,...,a,a,a,c,c,a,c,a,a,d
Assortment,a,a,a,c,a,a,c,a,c,a,...,c,a,a,a,c,a,c,c,c,c
CompetitionDistance,1270.0,570.0,14130.0,620.0,29910.0,310.0,24000.0,7520.0,2030.0,3160.0,...,5330.0,1400.0,540.0,3490.0,900.0,1900.0,1880.0,9260.0,870.0,5350.0
CompetitionOpenSinceMonth,9.0,11.0,12.0,9.0,4.0,12.0,4.0,10.0,8.0,9.0,...,9.0,6.0,4.0,4.0,9.0,6.0,4.0,NaN,NaN,NaN
CompetitionOpenSinceYear,2008.0,2007.0,2006.0,2009.0,2015.0,2013.0,2013.0,2014.0,2000.0,2009.0,...,2011.0,2012.0,2004.0,2011.0,2010.0,2014.0,2006.0,NaN,NaN,NaN
Promo2,0,1,1,0,0,0,0,0,0,0,...,1,1,0,1,0,1,0,0,0,1
Promo2SinceWeek,NaN,13.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.0,13.0,NaN,22.0,NaN,31.0,NaN,NaN,NaN,22.0
Promo2SinceYear,NaN,2010.0,2011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013.0,2010.0,NaN,2012.0,NaN,2013.0,NaN,NaN,NaN,2012.0
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,"Jan,Apr,Jul,Oct",NaN,"Jan,Apr,Jul,Oct",NaN,NaN,NaN,"Mar,Jun,Sept,Dec"

In [14]:
print(df_rs.info())
print(df_s.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB
None

In [16]:
print(df_rs.isnull().sum())
print(df_s.isnull().sum())

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64
Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [19]:
print(df_rs.nunique())
print(df_s.nunique())

Store             1115
DayOfWeek            7
Date               942
Sales            21734
Customers         4086
Open                 2
Promo                2
StateHoliday         5
SchoolHoliday        2
dtype: int64
Store                        1115
StoreType                       4
Assortment                      3
CompetitionDistance           654
CompetitionOpenSinceMonth      12
CompetitionOpenSinceYear       23
Promo2                          2
Promo2SinceWeek                24
Promo2SinceYear                 7
PromoInterval                   3
dtype: int64

In [21]:
df_s.loc[np.isnan(df_s['CompetitionDistance']), 'CompetitionDistance'] = df_s['CompetitionDistance'].median()
df_s.loc[np.isnan(df_s['CompetitionOpenSinceMonth']), 'CompetitionOpenSinceMonth'] = df_s['CompetitionOpenSinceMonth'].mode()
df_s.loc[np.isnan(df_s['CompetitionOpenSinceYear']), 'CompetitionOpenSinceYear'] = df_s['CompetitionOpenSinceYear'].mode()
df_s.fillna(0,inplace=True)

In [22]:
print(df_s.isnull().sum())

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [28]:
df = pd.merge(df_rs, df_s, on='Store')
print(df.info())
df.reset_index(drop=True, inplace=True)
df.reset_index()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1017209 non-null  float64
 12  CompetitionOpenSinceMonth  1017209 non-null  float64
 13  CompetitionOpenSinceYear   1017209 non-null  float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            1017209 non-null  float64
 16  Promo2SinceYear            1017209 non-null  float64
 17  PromoInterval              1017209 non-null  object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1017209 non-null  float64
 12  CompetitionOpenSinceMonth  1017209 non-null  float64
 13  CompetitionOpenSinceYear   1017209 non-null  float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            1017209 non-null  float64
 16  Promo2SinceYear            1017209 non-null  float64
 17  PromoInterval              1017209 non-null  object
dtypes: float64(5), int64(8), object(5)
memory usage: 139.7+ MB
None

In [31]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Day'] = pd.DatetimeIndex(df['Date']).day    
df['QuadYear'] = pd.DatetimeIndex(df['Date']).quarter
df['DayOfYear'] = pd.DatetimeIndex(df['Date']).day_of_year

In [33]:
def cleaning_data(data):
    mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
    mappings2 = {'0':0, 'Jan,Apr,Jul,Oct':1, 'Feb,May,Aug,Nov':2, 'Mar,Jun,Sept,Dec':3}
    df.StoreType.replace(mappings, inplace=True)
    df.Assortment.replace(mappings, inplace=True)
    df.StateHoliday.replace(mappings, inplace=True)
    df.PromoInterval.replace(mappings2, inplace=True)
    df['StoreType'] = df['StoreType'].astype(int)
    df['Assortment'] = df['Assortment'].astype(int)
    df['StateHoliday'] = df['StateHoliday'].astype(int)
    df['PromoInterval'] = df['PromoInterval'].astype(int)

In [34]:
cleaning_data(df)

In [35]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,QuadYear,DayOfYear
0,1,5,2015-07-31,5263,555,1,1,0,1,3,...,2008.0,0,0.0,0.0,0,2015,7,31,3,212
1,1,4,2015-07-30,5020,546,1,1,0,1,3,...,2008.0,0,0.0,0.0,0,2015,7,30,3,211
2,1,3,2015-07-29,4782,523,1,1,0,1,3,...,2008.0,0,0.0,0.0,0,2015,7,29,3,210
3,1,2,2015-07-28,5011,560,1,1,0,1,3,...,2008.0,0,0.0,0.0,0,2015,7,28,3,209
4,1,1,2015-07-27,6102,612,1,1,0,1,3,...,2008.0,0,0.0,0.0,0,2015,7,27,3,208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,6,2013-01-05,4771,339,1,0,0,1,4,...,0.0,1,22.0,2012.0,3,2013,1,5,1,5
1017205,1115,5,2013-01-04,4540,326,1,0,0,1,4,...,0.0,1,22.0,2012.0,3,2013,1,4,1,4
1017206,1115,4,2013-01-03,4297,300,1,0,0,1,4,...,0.0,1,22.0,2012.0,3,2013,1,3,1,3
1017207,1115,3,2013-01-02,3697,305,1,0,0,1,4,...,0.0,1,22.0,2012.0,3,2013,1,2,1,2
1017208,1115,2,2013-01-01,0,0,0,0,1,1,4,...,0.0,1,22.0,2012.0,3,2013,1,1,1,1